@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --peach: #f66;
    --navy: #235;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}

@media (min-width: 200px) {
    /* header */
    header {
        width: 100%;
        height: 35vh;
        background-image: url(/img/banner.jpg);
        background-position: bottom;
        background-size: cover;
        background-repeat: no-repeat;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    header ul {
        display: none;
    }

    h1 {
        height: 14%;
        padding: 3% 0 0 3%;
        color: white;
        font-family: 'lobster', cursive;
        text-transform: uppercase;
    }

    header > article {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header p {
        color: white;
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
    }

    header span {
        color: var(--peach);
    }

    /* class for titles */
    #title {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 2vh;
    }

    #title h2 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 28px;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
    }
    
    #title p {
        text-align: center;
        line-height: 1.5;
    }

    /* next section button */
    .next {
        width: 100%;
        display: flex;
        justify-content: center;
        text-decoration: none;
    }

    .next i {
        padding: 1%;
        border: 3px solid var(--peach);
        border-radius: 50%;
        color: var(--peach);
    }

    /* to all section */
    main > section {
        padding: 5%;
        color: gray;
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
    }

    /* section about */
    .about h2 {
        color: var(--navy);
    }

    .about p {
        line-height: 1.5;
    }

    .about > article > div {
        width: 15vh;
        height: 15vh;
        margin-right: 2vh;
        border-radius: 50%;
        background-image: url(/img/pic-9.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        float: left;
    }

    .about > section {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
    }

    .about > section > article {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 1vh;
    }

    .about > section p {
        color: var(--navy);
        text-transform: uppercase;
        font-weight: 600;
    }
    
    .about article > aside:first-child {
        width: 70%;
        display: flex;
        justify-content: space-between;
    }

    .about article > aside:last-child {
        width: 100%;
        display: flex;
    }

    .about aside > div:first-child {
        width: 70%;
        height: 2vh;
        background-color: var(--peach);
    }

    .about aside > div:last-child {
        width: 30%;
        height: 2vh;
        background-color: lightgray;
    }

    /* section works */
    .work {
        background-color: var(--navy);
        align-items: center;
    }

    .work h2 {
        color: var(--peach);
    }

    .work p {
        color: whitesmoke;
    }

    .work > figure {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 1vh;
        row-gap: 1vh;
    }

    .work img {
        width: 10vh;
    }

    /* section services */
    .services h2 {
        color: var(--navy);
    }

    .services p {
        text-align: center;
    }

    .services > article {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 3vh;
    }

    .services > article i {
        width: fit-content;
        padding: 5%;
        border-radius: 50%;
        color: whitesmoke;
        font-size: 36px;
        background-color: var(--peach);
    }

    .services > article > aside {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1vh;
    }

    .services h3 {
        color: var(--navy);
        text-transform: uppercase;
    }

    /* section contact */
    .contact {
        background-color: var(--navy);
    }

    .contact h2 {
        color: var(--peach);
    }

    .contact p {
        color: whitesmoke;
    }

    .contact > article:nth-child(2) {
        display: flex;
        justify-content: space-evenly;
    }

    .contact i {
        color: whitesmoke;
        font-size: 22px;
    }

    form {
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2vh;
    }

    ::placeholder {
        color: whitesmoke;
        font-size: 14px;
    }
    
    input, textarea {
        width: 100%;
        padding: 2%;
        border: 0;
        border-bottom: 1px solid whitesmoke;
        background-color: transparent;
    }

    [type="submit"] {
        width: 40%;
        padding: 3%;
        border: 1px solid whitesmoke;
        color: whitesmoke;
        text-align: center;
    }

    /* footer */
    footer {
        padding: 5% 0%;
        border-top: 0.5px solid gray;
        color: whitesmoke;
        text-align: center;
        line-height: 1.5;
    }

    footer a {
        color: var(--peach);
        text-decoration: none;
    }
}

@media (min-width:700px) {
    .about aside > div:first-child,
    .about aside > div:last-child {
        height: 1.5vh;
    }

    .about > article > div {
        width: 20vh;
        height: 20vh;
    }

    .work > figure {
        width: 95%;
        justify-content: center;
        row-gap: 2vh;
    }

    .work img {
        width: 15vh;
    }

    .services > article {
        flex-direction: row;
    }
    
    .contact > article:nth-child(2) {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        column-gap: 3vh;
    }

    form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 5vh;
    }
    
    form > section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        column-gap: 3vh;
        row-gap: 2vh;
    }

    input {
        width: 25%;
    }

    [placeholder="Your Message"] {
        width: 80%;
    }

    [type="submit"] {
        width: fit-content;
    }
}

@media (min-width:1000px) {
    h1 {
        padding: 2%;
        font-size: 32px;
    }

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    header > nav {
        width: 70%;
        display: flex;
        justify-content: space-between;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    nav > ul {
        width: 40%;
        padding: 3%;
        display: flex;
        justify-content: space-around;
    }

    nav li {
        list-style-type: none;
    }

    nav a {
        color: whitesmoke;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        transition: .4s;
    }

    nav a:hover {
        color: var(--peach);
    }

    header > article {
        height: 70%;
    }

    main > section {
        padding: 5% 15%;
    }

    .about {
        align-items: center;
    }

    .about > article:nth-child(2) {
        width: 90%;
    }

    .about > section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 5vh;
    }

    .about > section > article {
        width: 40%;
    }

    .work {
        row-gap: 10vh;
    }

    .work > figure {
        width: 80%;
    }

    .work img {
        width: 20vh;
    }

    .contact a:hover i {
        color: var(--peach);
        transition: .4s;
    }
    }

    form {
        justify-content: right;
    }

    [type="submit"] {
        padding: 1%;
    }

    [type="submit"]:hover {
        background-color: whitesmoke;
        color: var(--navy);
        cursor: pointer;
    }

    footer {
        padding: 2% 0;
    }
}