* {
    padding: 0;
    margin: 0;
    font-family: $defaultFont;
}

html {
    scroll-behavior: smooth;
}

body, main {
    @include flexBoxColumn;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

p {
    line-height: 1.5;
}

[class*="chevron"] {
    text-decoration: none;
    color: $defaultRed;
    border: 4px solid $defaultRed;
    border-radius: 50%;
}

input {
    background-color: transparent;
    border: 0px none;
    border-bottom: 1px solid whitesmoke;
}